<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bit.hellopt.data.LiveClassMapper">
	<select id="getLiveClass" resultType="com.bit.hellopt.vo.live.LiveClass">
		SELECT * FROM CLASS_TB 
		<if test="CLASS_TYPE != '전체' and CLASS_TYPE != null">
			WHERE CLASS_TYPE = #{classType}
		</if>
		ORDER BY CLASS_IDX DESC
	</select>
</mapper>