@charset "utf-8";

.content {
	box-sizing: border-box;
	margin: 0 auto 150px;
	padding-top: 100px;
	text-align: center;
}


.container h2 {
	font-size: 42px;
	font-weight: 600;
	margin-bottom: 42px;
}

form input {
	display: block;
	background: transparent;
	padding: 5px;
	border: none;
	color: #fff;
}

.content li {
	border-bottom: 1px solid #7d7d7d;
	margin-bottom: 20px;
}

.error {
	color: red;
}

input[type="text"] {
	width: 100%;
}
input[type="password"] {
	width: 100%;
}
input[type="email"] {
	width: 100%;
}

input[type='radio'] {
	display: inline;
	margin: auto;
}
input[type="number"] {
	margin: auto;
}

input[type='button'],  input[type='submit']{
	width: 100%;
	padding: 5px 0 7px;
	margin: 0 auto;
	margin-top: 10px;
	background: #b4000f;
	font-family: 'Nocturne Serif', 'Noto Sans KR', 'Malgun Gothic', dotum,
		sans-serif;
	font-size: 15px;
	-webkit-appearance: none;
	border-radius: 0;
	margin-bottom: 10px;
}

.content img {
	height: 100px;
	width: auto;
	margin-bottom: 10px;
}
.remember-me {
	display: inline;
	margin-right: 10px;
}

a {
	color: white;
}