@font-face{
    /* thin type */
    /*
        font-family:"Nocturne Serif";
    */
    font-family:  'Jeju Gothic', serif;
        src:url("/Fonts/5511208/476a9654-bdfd-4f38-ad30-9f686157cf4f.eot?#iefix");
        src:url("/Fonts/5511208/476a9654-bdfd-4f38-ad30-9f686157cf4f.eot?#iefix") format("eot"),url("/Fonts/5511208/5ef2cf6a-eec9-4052-ba0a-3d286a0cca06.woff2") format("woff2"),url("/Fonts/5511208/d0933d20-0691-4f8c-bb18-8071fc39de4c.woff") format("woff"),url("/Fonts/5511208/9d43e04a-fe88-423c-80dc-cc9831ad72ae.ttf") format("truetype");
        font-weight: 300;
    }
    @font-face{
      /* regular type */
        /*
        font-family:"Nocturne Serif";
	    */
	    font-family:  'Jeju Gothic', serif;
        src:url("/Fonts/5511232/0d9d06ec-bd08-4ab9-9b25-20688d747e63.eot?#iefix");
        src:url("/Fonts/5511232/0d9d06ec-bd08-4ab9-9b25-20688d747e63.eot?#iefix") format("eot"),url("/Fonts/5511232/45d5812a-99ca-4c59-a2c9-06e81ba1cd8b.woff2") format("woff2"),url("/Fonts/5511232/688ae5bc-a8d1-49cc-9f50-119730751db9.woff") format("woff"),url("/Fonts/5511232/69368c14-abc1-41ae-bb3a-4ddb984d7cfb.ttf") format("truetype");
        font-weight: 400;
    }
    @font-face{
      /* semibold type */
         /*
        font-family:"Nocturne Serif";
	    */
	    font-family:  'Jeju Gothic', serif;
        src:url("/Fonts/5511252/37639459-1666-4cfb-bb05-baa51c77a519.eot?#iefix");
        src:url("/Fonts/5511252/37639459-1666-4cfb-bb05-baa51c77a519.eot?#iefix") format("eot"),url("/Fonts/5511252/c85ffb56-940b-45ac-beae-7ef1fa10c18d.woff2") format("woff2"),url("/Fonts/5511252/c21010ce-15fe-4ab3-9646-f31765cdc1a1.woff") format("woff"),url("/Fonts/5511252/de0dea9b-da84-4334-99de-d459936f2cca.ttf") format("truetype");
        font-weight: 600;
    }
