@charset "utf-8";
/*
.header {

}
*/
/* 각 body 내용 들어갈 부분 */
.content {
	color: white;
	/*
	overflow:hidden;
	margin: auto;
	*/
}

/* footer 하단 고정 */
.footer {
	/* position: fixed; */
	bottom: 10px;
	width: 100%;
	text-align: center;
	color: white;
	font-size: 13px;
	padding: 10px;
}

.copyright {
	text-transform: uppercase;
}

.sns_list {
	padding-top: 100px;
	padding-bottom: 20px;
	margin: 20px 0;

	/*  position: absolute;
  left: 0;
  bottom: 125px;
  width: 100%;
  padding: 0 25px;
  font-size: 11px;
  margin-bottom: 0px;*/
}

.sns_list li {
	vertical-align: top;
}

.sns_list a {
	margin: 0 22px;
	display: inline-block;
	width: 29px;
	height: 29px;
	color: transparent;
	background-size: 174px;
	background-repeat: no-repeat;
}

.sns_list .sns_00 {
	background-image: url('/assets/img/sns_icon.png');
	background-position: 0 0;
	transition: 0.3s;
}

.sns_list .sns_01 {
	background-image: url('/assets/img/sns_icon.png');
	background-position: -27px 0;
	transition: 0.3s;
}

.sns_list .sns_02 {
	background-image: url('/assets/img/sns_icon.png');
	background-position: -56px 0;
	transition: 0.3s;
}

.sns_list .sns_03 {
	background-image: url('/assets/img/sns_icon.png');
	background-position: -86px 0;
	transition: 0.3s;
}

.sns_list .sns_04 {
	background-image: url('/assets/img/sns_icon.png');
	width: 27px;
	background-position: -113px 0;
	transition: 0.3s;
}

.sns_list .sns_05 {
	background-image: url('/assets/img/sns_icon.png');
	background-position: -140px 0;
	transition: 0.3s;
}
/*sns hover event*/
.sns_list .sns_00:hover {
	background-image: url('/assets/img/sns_icon_hover.png');
	background-position: 0 0;
}

.sns_list .sns_01:hover {
	background-image: url('/assets/img/sns_icon_hover.png');
	background-position: -27px 0;
}

.sns_list .sns_02:hover {
	background-image: url('/assets/img/sns_icon_hover.png');
	background-position: -56px 0;
}

.sns_list .sns_03:hover {
	background-image: url('/assets/img/sns_icon_hover.png');
	background-position: -86px 0;
}

.sns_list .sns_04:hover {
	background-image: url('/assets/img/sns_icon_hover.png');
	width: 27px;
	background-position: -113px 0;
}

.sns_list .sns_05:hover {
	background-image: url('/assets/img/sns_icon_hover.png');
	background-position: -140px 0;
}

/* 0. basic */
/* body.non-scroll {
  height: 100%;
  overflow: hidden;
} */
/* 1. header */
#hd {
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 9999;
	height: 16%;
	transition: all 0.3s ease-in-out;
}

#hd h1 {
	position: absolute;
	left: 46px;
	top: 47px;
	display: inline-block;
	font-size: 20px;
}

#hd h1 a {
	text-transform: uppercase;
	color: #b3b3b3;
}

#hd .nav_button {
	/*
  position: absolute;
  right: 46px;
  top: 47px;
  */
	position: absolute;
	right: 46px;
	top: 47px;
	width: 30px;
	height: 30px;
}

#hd .nav_button span {
	position: absolute;
	top: 14px;
	right: 4px;
	width: 16px;
	height: 2px;
	background: #b3b3b3;
	transition: 0.2s;
}

#hd .nav_button:hover span {
	width: 22px;
}

#hd .nav_button span:before, #hd .nav_button span:after {
	position: absolute;
	right: 0;
	width: 22px;
	height: 2px;
	content: '';
	background: #b3b3b3;
}

#hd .nav_button span:before {
	top: -5px;
	transition: 0.6s;
}

#hd .nav_button span:after {
	bottom: -5px;
	transition: 0.2s;
}

#hd .nav_button.off span {
	background: transparent;
}

#hd .nav_button.off span:before {
	top: 0;
	-webkit-transform: rotate(315deg);
	-moz-transform: rotate(315deg);
	-o-transform: rotate(315deg);
	-ms-transform: rotate(315deg);
	transform: rotate(315deg);
}

#hd .nav_button.off span:after {
	bottom: 0;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

/* 2. navigation */
#navigation {
	position: absolute;
	left: 0%;
	width: 100%;
  	height: 100%;
	text-align: center;
	z-index: 998;
	-moz-transition: all 0.8s ease-in;
	-webkit-transition: all 0.8s ease-in;
	-o-transition: all 0.8s ease-in;
	-ms-transition: all 0.8s ease-in;
	transition: all 0.8s ease-in;
	/* padding-top: 100px; */
}

#navigation.open {
	top: 0;
	display: block;
}

#navigation.close {
	top: -100%;
	-moz-transition: all 0.67s ease-out;
	-webkit-transition: all 0.67s ease-out;
	-o-transition: all 0.67s ease-out;
	-ms-transition: all 0.67s ease-out;
	transition: all 0.67s ease-out;
}

.navigation_inner {
	display: table;
	width: 100%;
	height: 100%;
}

#navigation .dim_bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	-webkit-transition: all 0.4s 0.34s ease-in;
	-moz-transition: all 0.4s 0.34s ease-in;
	-o-transition: all 0.4s 0.34s ease-in;
	-ms-transition: all 0.4s 0.34s ease-in;
	transition: all 0.4s 0.34s ease-in;
}

#navigation.open .dim_bg {
	background: rgba(23, 23, 23, 0.97);
}

#navigation.close .dim_bg {
	-webkit-transition: 0.4s ease-out;
	-moz-transition: 0.4s ease-out;
	-o-transition: 0.4s ease-out;
	-ms-transition: 0.4s ease-out;
	transition: 0.4s ease-out;
	background: transparent;
}

#navigation .nav_wrap {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	z-index: 2;
	padding-top: 100px;
}

#navigation .nav_wrap ul {
	font-size: 0;
	/* overflow: hidden; */
}

#navigation .nav_wrap li {
	display: inline-block;
	font-size: 0;
	position: relative;
	width: auto;
	/* float: left; */
}

#navigation .nav_wrap a, #navigation .nav_wrap p {
	color: #d5d5d5;
	line-height: 1.24em;
}

#navigation .nav_wrap .category {
	/*position: absolute;
    left: 0;
    top: 120px;*/
	width: 100%;
    padding: 0 25px;
	font-size: 11px;
	margin-bottom: 20px;
}

.category li {
	/* margin-bottom: 10px; */
}

#navigation .nav_wrap .category a {
	/* text-transform: uppercase; 
	margin: 50px; */
	padding: 0 27px;
	font-size: 40px;
	-webkit-transition: all 0.14s;
	-moz-transition: all 0.14s;
	-o-transition: all 0.14s;
	-ms-transition: all 0.14s;
	transition: all 0.14s;
}

#navigation .nav_wrap .category a:hover {
	color: #b51b28;
	text-decoration: none;
}

#navigation .nav_wrap ul.artist_depth02 {
	margin-top: 10px;
	/* width: 200px; */
	display: grid;
	/* position: absolute; */
	/* bottom: -160px; */
	font-size: 15px;
	left: 50%;
	transform: translateX(-50%);
	transition: 0.3s;
	height: 0;
	overflow: hidden;
	position: relative;
}

#navigation .nav_wrap ul.artist_depth02.on {
	margin-bottom: 30px;
	height: auto;
}

#navigation .nav_wrap ul.artist_depth02 li a {
	font-size: 20px;
	line-height: 1.5;
	opacity: 0.6;
}

#navigation .nav_wrap .user_case {
	margin: 20px 0;
	transition: 0.3s;
	/* position: absolute;
    left: 0;
    bottom: 195px;
    width: 100%;
    padding: 0 25px;
    font-size: 11px;
    margin-bottom: 0px;*/
}

#navigation .nav_wrap .user_case.on {
	margin-top: 222px;
	margin-bottom: -50px;
}

#navigation .nav_wrap .user_case a {
	/* text-transform: uppercase; */
	padding: 0 22px;
	font-size: 30px;
	-webkit-transition: all 0.14s;
	-moz-transition: all 0.14s;
	-o-transition: all 0.14s;
	-ms-transition: all 0.14s;
	transition: all 0.14s;
}

#navigation .nav_wrap .user_case a:hover {
	color: #b51b28;
	text-decoration: none;
}

/* 3. main 슬라이더 부분 */
.swiper-container {
	width: 100%;
	height: 100vh;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	width: 60%;
}

.swiper-slide:nth-child(2) {
	width: 30%;
}

.swiper-container-horizontal>.swiper-scrollbar {
	opacity: 1 !important;
}

.slider_content {
	position: relative;
	display: table;
	max-width: 100%;
	height: 100%;
	text-align: center;
	opacity: 0.5;
	transform: scale(0.7);
	transition: all 0.72s;
}

.scroll-cta {
	position: absolute;
	left: -14px;
	top: 50%;
	text-align: center;
	transform: translateY(-50%);
	z-index: 10;
	color: #e71e2f;
}

.scroll-cta .arrow {
	margin-bottom: 14px;
}

.scroll-cta .arrow span {
	position: relative;
	display: inline-block;
	padding-left: 16px;
}

.scroll-cta .arrow span img {
	animation: swing 2.34s infinite ease-in-out alternate;
}

.scroll-cta .arrow span:before {
	position: absolute;
	top: 2px;
	left: 3px;
	content: '';
	width: 27px;
	height: 27px;
	background: transparent;
	border: 1px solid #e71e2f;
	border-radius: 50%;
	animation: bounce 2.34s infinite ease-in-out alternate;
}

.swiper-slide-active .slider_content {
	opacity: 1;
	transform: scale(1);
}

.swiper-button-next {
	width: 39px;
	right: 15%;
	background: url('/assets/img/next_arrow.png') center no-repeat;
	background-size: 39px;
	opacity: 0.35;
}

.swiper-button-prev {
	width: 39px;
	left: 15%;
	background: url('/assets/img/prev_arrow.png') center no-repeat;
	background-size: 39px;
	opacity: 0.35;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
	opacity: 1;
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled
	{
	opacity: 0;
}

.swiper-pagination-fraction {
	position: absolute;
	width: auto;
	left: auto;
	right: 58px;
	bottom: 43px;
	font-size: 20px;
	/*
  font-family: 'Myriad Pro', sans-serif;
  */
	font-family: 'Jeju Gothic', serif;
	color: #686868;
}

.swiper-pagination-fraction .swiper-pagination-current {
	position: absolute;
	top: -8px;
	left: -14px;
	color: #fff;
}

.swiper-pagination-fraction .swiper-pagination-total {
	position: absolute;
	bottom: -6px;
	right: -12px;
}

.slider_content a {
	display: table-cell;
	vertical-align: middle;
}

.slider_content .content_wrap {
	position: relative;
	padding: 44px 43px;
}

.slider_content .content_wrap img {
	max-width: 100%;
	box-shadow: 0 0 45px rgba(12, 12, 12, 0.4);
}

.slider_content .content_text {
	position: absolute;
	bottom: -5px;
	right: -5px;
	color: #b3b3b3;
	text-align: left;
}

.slider_content .content_text h4 {
	font-size: 53px;
	font-weight: 400;
	text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
}

.slider_content .content_text span {
	position: relative;
	font-size: 18px;
	text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
}

.slider_content .content_text span:before {
	position: absolute;
	top: 14px;
	right: -24px;
	width: 13px;
	height: 1px;
	content: '';
	background: #fff;
}

.slider_content .content_text span:after {
	position: absolute;
	top: 8px;
	right: -18px;
	width: 1px;
	height: 13px;
	content: '';
	background: #fff;
}

.slider_content a:hover .content_text span {
	color: #b4000f;
}

.slider_content a:hover .content_text span:before, .slider_content a:hover .content_text span:after
	{
	background: #b4000f;
}

/* 4. ABOUT KOZ */
#about {
	overflow: hidden;
}

#about>div {
	height: 100vh;
}

#about .loaded_hero {
	position: relative;
	padding-top: 170px;
	text-align: center;
	z-index: 2;
}

#about .loaded_hero.hiding_intro {
	/* transform: translateY(-100%); */
	transition: all 1s;
}

#about .loaded_hero h2 {
	position: relative;
	font-size: 42px;
	color: #fff;
	animation: fadeIn 1.3s ease alternate;
	animation-fill-mode: forwards;
}

#about .loaded_hero h2:after {
	position: absolute;
	width: 1px;
	height: 0px;
	content: '';
	background: #fff;
	left: 50%;
	transform: translateX(-50%);
	animation: linedraw 0.3s 0.8s ease-in alternate;
	animation-fill-mode: forwards;
}

#about .hero_content {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	height: 393px;
	padding: 133px 0;
	background: url('/img/about_bg.png') center no-repeat;
}

#about .hero_content h3 {
	margin-bottom: 40px;
	/* overflow: hidden; */
}

#about .hero_content h3 div {
	position: relative;
	display: inline-block;
	color: #fff;
	font-size: 100px;
	height: 160px;
	margin: 0 10px;
}

#about .hero_content h3 div img {
	
}

#about .hero_content h3 div>.small {
	font-size: 60px;
	transition: 0.3s all;
	color: #b3000f;
}

#about .hero_content h3 div>.out_label {
	font-size: 60px;
	transition: 0.3s all;
	color: #8b000c;
}

#about .hero_content h3 div:nth-child(1) {
	opacity: 0;
	animation: ktype 2.3s 2s ease-in-out alternate;
	animation-fill-mode: forwards;
}

#about .hero_content h3 div:nth-child(2) {
	opacity: 0;
	animation: otype 2.3s 2s ease-in-out alternate;
	animation-fill-mode: forwards;
}

#about .hero_content h3 div:nth-child(3) {
	opacity: 0;
	animation: ztype 2.3s 2s ease-in-out alternate;
	animation-fill-mode: forwards;
}

#about .hero_content h3 div:nth-child(3) .small {
	animation: ztypeSmall 0.2s 3s ease-in-out alternate;
	animation-fill-mode: forwards;
}

#about .hero_content h3 div .stell_on {
	position: relative;
	opacity: 1;
	transition: 0.1s all;
}

#about .hero_content h3 div .stell_off {
	position: absolute;
	top: 38px;
	left: 0px;
	opacity: 0;
	transition: 0.1s all;
}

#about .hero_content h3 div .o_on {
	opacity: 1;
	transition: 0.54s all;
}

#about .hero_content h3 div .o_off {
	position: absolute;
	top: -20px;
	left: -12px;
	opacity: 0;
	transition: 0.54s all;
}

#about .hero_content p {
	color: transparent;
	font-size: 18px;
	animation: fadeIn 0.3s 3.5s ease-in alternate;
	animation-fill-mode: forwards;
	/*
  font-family: 'Noto Sans KR', sans-serif;
  */
	font-family: 'Jeju Gothic', serif;
}

#about .focusing_content {
	/* position: absolute;
  top: 0;
  left: 0; */
	width: 100%;
	/* height: 100%; */
	display: table;
	text-align: center;
	opacity: 1;
	z-index: 1;
}

#about .focusing_content.on_content {
	opacity: 1;
	transition: all 1s;
}

#about .focusing_content .content_wrap {
	display: table-cell;
	vertical-align: middle;
}

#about .focusing_content .content_wrap h4 {
	position: relative;
	font-size: 18px;
	/* font-family: 'Noto Sans KR', sans-serif; */
	font-weight: 400;
	animation: fadeIn 1.3s ease alternate;
	animation-fill-mode: forwards;
}

#about .focusing_content .content_wrap h4:after {
	position: absolute;
	width: 1px;
	height: 0px;
	content: '';
	background: #fff;
	left: 50%;
	transform: translateX(-50%);
	animation: slinedraw 0.3s 0.8s ease-in alternate;
	animation-fill-mode: forwards;
}

#about .floating_area {
	position: relative;
	/* height: 50vh; */
	height: 46vh;
	width: 800px;
	margin: 0 auto;
	/* padding-top: 24vh; */
	padding-top: 17vh;
	text-align: center;
	font-size: 0;
}

#about .floating_area .inarea {
	position: relative;
	width: 180px;
	height: 180px;
	margin-right: 20px;
	display: inline-block;
}

#about .floating_area .inarea:nth-child(4) {
	margin-right: 0;
}
/* #about .floating_area .inarea:nth-child(2n){
  margin-left: 50px;
} */
#about .floating_area .moarea {
	display: none;
}

/*감싸는 동그라미*/
#about .floating_area .inarea span.circle {
	position: absolute;
	width: 180px;
	height: 180px;
	border-radius: 50%;
	border: 1px solid #6a6a6a;
	/* background: #6a6a6a; */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: default;
	opacity: 0;
	/* animation: enlargement 0.3s 0s ease-in alternate; */
	/* animation-fill-mode: forwards; */
	/* display: none; */
}

#about .floating_area .inarea span.circle_txt {
	/* font-size: 40px; */
	font-size: 25px;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: block;
	width: 100%;
	opacity: 0;
	line-height: 1.2;
}

/*애니메이션 넣기*/
#about .floating_area .inarea:nth-child(1) span.circle.on {
	animation: enlargement 0.5s 0.5s ease-in alternate;
	animation-fill-mode: forwards;
}

#about .floating_area .inarea:nth-child(1) span.circle_txt.on {
	animation: appear 0.5s 1s ease-in alternate;
	animation-fill-mode: forwards;
}

#about .floating_area .inarea:nth-child(2) span.circle.on {
	animation: enlargement 0.5s 2.1s ease-in alternate;
	animation-fill-mode: forwards;
}

#about .floating_area .inarea:nth-child(2) span.circle_txt.on {
	animation: appear 0.5s 2.6s ease-in alternate;
	animation-fill-mode: forwards;
}

#about .floating_area .inarea:nth-child(3) span.circle.on {
	animation: enlargement 0.5s 3.2s ease-in alternate;
	animation-fill-mode: forwards;
}

#about .floating_area .inarea:nth-child(3) span.circle_txt.on {
	animation: appear 0.5s 3.7s ease-in alternate;
	animation-fill-mode: forwards;
}

#about .floating_area .inarea:nth-child(4) span.circle.on {
	animation: enlargement 0.5s 4.3s ease-in alternate;
	animation-fill-mode: forwards;
}

#about .floating_area .inarea:nth-child(4) span.circle_txt.on {
	animation: appear 0.5s 4.8s ease-in alternate;
	animation-fill-mode: forwards;
}
/* basic used */
.wrap {
	display: table;
	width: 100%;
	height: 100vh;
	text-align: center;
}

.inner {
	display: table-cell;
	vertical-align: middle;
}

/* schedule */
.tab-content {
	display: none;
}

#tab1 {
	display: block;
}

.date_select {
	text-align: center;
	padding-bottom: 24px;
}

.date_select .tab_select {
	font-size: 36px;
	margin: 0 6px;
}

.schedule_timeline {
	padding: 45px 0;
	border-top: 1px solid #434343;
	border-bottom: 1px solid #434343;
}

.timeline_scroll {
	max-height: 420px;
	overflow: auto;
}

.timeline_scroll #mCSB_1_container {
	margin-right: 60px;
}

#qtip-calendar {
	z-index: 987 !important;
}

.qtip-default {
	border: 1px solid #fff;
	background-color: #1e1e1e;
	color: #fff;
	position: fixed;
	top: 50% !important;
	left: 50% !important;
	transform: translate(-50%, -50%);
	max-width: 90%;
	width: 550px;
	padding: 30px;
}

.qtip-content {
	overflow: inherit;
}

.qtip-content .close_pop {
	font-size: 30px;
	position: absolute;
	right: -10px;
	top: -10px;
	cursor: pointer;
}

.qtip-content .cate {
	font-size: 16px;
	margin-bottom: 10px;
}

.qtip-content h3 {
	font-size: 25px;
	height: auto;
	line-height: normal;
}

.qtip-content .contents {
	font-size: 15px;
	margin: 20px 0;
}

.qtip-content .date {
	font-size: 14px;
}

.qtip .qtip-tip, .qtip .qtip-tip .qtip-vml, .qtip .qtip-tip canvas {
	display: none;
}

.timeline_scroll .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
	.timeline_scroll .mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar_onDrag
	{
	width: 1px;
	background: #fff;
}

.timeline_scroll .mCS-light-thin.mCSB_scrollTools .mCSB_draggerRail {
	background-color: #5d5d5d;
}

.timeline_scroll ul li {
	position: relative;
	padding: 16px 0;
}

.timeline_scroll ul li:before {
	position: absolute;
	left: 146px;
	top: 0;
	width: 1px;
	height: 100%;
	background: #676767;
	content: '';
	display: block;
	z-index: -1;
}

.timeline_scroll ul li:after {
	clear: both;
	content: '';
	display: block;
}

.timeline_scroll .sch_box {
	display: block;
	color: #fff;
}

.timeline_scroll .sch_box:hover .sch_category, .timeline_scroll .sch_box.open .sch_category
	{
	text-decoration: underline;
}

.timeline_scroll .next_item .sch_box {
	color: #cacaca;
}

.timeline_scroll .prev_item .sch_box {
	color: #6e6e6e;
}

.timeline_scroll .sch_box:after {
	clear: both;
	content: '';
	display: block;
}

.timeline_scroll .sch_box .date {
	display: inline-block;
	width: 103px;
	font-size: 18px;
	line-height: 24px;
	vertical-align: middle;
}

.timeline_scroll .sch_box .date_status {
	display: inline-block;
	width: 82px;
	vertical-align: middle;
}

.timeline_scroll .dot {
	display: block;
	margin: 8px auto;
	width: 8px;
	height: 8px;
	border-radius: 50%;
}

.timeline_scroll .next_item .next_dot {
	background: #9f9f9f;
}

.timeline_scroll .near_item .next_dot {
	background: #b4000f;
}

.timeline_scroll .now_item .next_dot {
	background: #b4000f;
	width: 11px;
	height: 11px;
	margin: 6px auto;
}

.timeline_scroll .prev_item .next_dot {
	background: #636363;
}

.timeline_scroll .sch_box .sch_category {
	display: inline-block;
	line-height: 24px;
	vertical-align: middle;
}

.timeline_scroll .sch_box .sch_category, .sch_content h3 {
	font-size: 16px;
	cursor: pointer;
}

.timeline_scroll .sch_box .sch_content {
	float: right;
	display: inline-block;
	width: 60%;
}

.sch_content h3 {
	font-weight: 400;
}

.open .sch_content h3 {
	font-weight: 600;
}

.timeline_scroll .sub_content {
	display: none;
	width: 60%;
	float: right;
}

.timeline_scroll .sub_content p {
	margin-top: 16px;
	padding: 24px 14px;
	background: #1a1a1a;
	color: #fff;
	font-size: 14px;
	line-height: 1.714;
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
}

#tab2 #calendar {
	position: relative;
}

#tab2 .fc-basic-view .fc-body .fc-row {
	min-height: 114px;
}

#tab2 .fc-day-grid-event {
	padding: 4px 2px 3px;
	border-radius: 8px;
	border: 1px solid #333 !important;
}

#tab2 .fc .fc-row {
	margin: 0 !important;
}

#tab2 .fc-day-grid-container {
	height: auto !important;
	overflow: hidden !important;
}

/* artist */
.pc-menu {
	display: block;
}

.mo-menu {
	display: none;
}

.artist-main .img-txt {
	left: 32px;
}

.artist-main .sns-wr {
	right: 37px;
}

.artist_name {
	font-size: 120px;
	font-weight: 600;
	line-height: 1;
	/* text-transform: uppercase; */
	text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
}

.artist_info {
	font-size: 16px;
}

.artist_info span {
	line-height: 1;
	display: inline-block;
	padding: 0 16px 0 13px;
	border-right: 1px solid #fff;
	text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
}

.artist_info span:first-child {
	padding-left: 0;
}

.artist_info span:last-child {
	border-right: 0;
}

/* mypage */
.info_box {
	margin-top: 40px;
	padding: 30px 0 0;
	font-size: 0;
	border: 1px solid #333;
}

.info_box .title {
	position: relative;
	padding: 0 30px 24px;
	text-align: left;
	border-bottom: 1px solid #333;
}

.info_box .title h3 {
	display: inline-block;
	color: #aaa;
	font-size: 24px;
	vertical-align: middle;
}

.info_box .title h3 strong {
	color: #fff;
	font-size: 30px;
	padding-left: 4px;
}

.info_box .title a {
	display: inline-block;
	padding: 5px 10px 3px;
	margin-left: 14px;
	border: 1px solid #555;
	color: #555;
	font-size: 14px;
	line-height: 0.92;
	vertical-align: middle;
}

.info_box .col_box {
	display: inline-block;
	width: 50%;
	padding: 30px;
	vertical-align: top;
}

.info_box .col_box:last-child {
	border-left: 1px solid #333;
}

.info_box .col_box .user_profile {
	font-size: 16px;
	color: #fff;
}

.info_box .col_box .user_profile:after {
	display: block;
	content: '';
	clear: both;
}

.info_box .col_box .user_profile dt {
	float: left;
	width: 30%;
	line-height: 26px;
}

.info_box .col_box .user_profile dd {
	float: right;
	width: 70%;
	line-height: 26px;
}

.info_box .col_box h3 {
	padding: 21px 0;
	font-size: 22px;
	text-align: center;
	color: #aaa;
}

.info_box .col_box h3 strong {
	font-size: 26px;
	color: #fff;
}

.bookmark_list {
	margin-top: 130px;
}

.bookmark_list h3 {
	margin-bottom: 30px;
	font-size: 34px;
	text-align: center;
	color: #fff;
}

.bookmark_list table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #111;
	margin-bottom: 20px;
	table-layout: fixed;
}

.bookmark_list th {
	padding: 10px;
	font-size: 16px;
	color: #aaa;
	border-bottom: 1px solid #111;
}

.bookmark_list th.width_artist {
	width: 120px;
}

.bookmark_list th.width_cate {
	width: 140px;
}

.bookmark_list th.width_date {
	width: 150px;
}

.bookmark_list th.delete_th {
	width: 60px;
}

.bookmark_list td {
	padding: 14px 2px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	border-bottom: 1px solid #111;
}

.bookmark_list .title {
	text-align: left;
	font-weight: 600;
	width: 50%;
	padding-left: 15px;
}

.bookmark_list .title a {
	display: block;
	max-width: 90%;
	color: #fff;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.bookmark_list .button_delete {
	padding: 5px 10px;
	border: 1px solid #fff;
	font-size: 11px;
	color: #fff;
}
/*sub animation*/
/* 타이틀 영역*/
.tit-wr {
	text-align: center;
	padding-top: 115px;
	color: #fff;
}

.tit-wr h2 {
	font-size: 42px;
	font-weight: 600;
}

/*애니메이션 들어간 타이틀*/
.tit-wr-ani h2 {
	animation: fadeIn 1s ease alternate;
	animation-fill-mode: forwards;
	position: relative;
}

.lang-wr-ani {
	opacity: 0;
	animation: appear 1s ease alternate;
	animation-fill-mode: forwards;
	position: relative;
}

.tit-wr-ani h2:after {
	position: absolute;
	width: 1px;
	height: 0px;
	content: '';
	background: #fff;
	left: 50%;
	transform: translateX(-50%);
	animation: linedraw 0.3s 0.5s ease-in alternate;
	animation-fill-mode: forwards;
	margin-left: 0 1px
}

.sub-content {
	visibility: hidden;
	opacity: 0;
	margin-top: 171px;
	animation: appear 0.8s 1.2s ease alternate;
	animation-fill-mode: forwards;
}

.sub-content.audition {
	margin-top: 130px;
}
/*language 들어있어서 ani영역 레이아웃 조정*/
.ani-adj .tit-wr-ani h2:after {
	top: 107px;
}

.ani-adj .sub-content {
	margin-top: 137px;
}


/* body 가운데 정렬 */
.center {
	width: 1024px;
	min-height: 500px;
	margin: -0 auto;
}

#hd {
	
}

/*HONG*/
@media screen and (min-width: 800px) {
	.category>li {
		width: 30%;
	}
}

@media screen and (max-width: 800px) {
	.category>li {
		width: 100%;
	}
}