@charset "UTF-8";


.btn {border-radius:3px;padding:5px 11px;color:#fff !important; display:inline-block;
	 background-color:#6b9ab8; border:1px solid #56819d;vertical-align:middle}



.tbl_wrap{
	margin-top:50px;
	width:600px;
	box-align: center;
    align-items: center;
    align-items: center;
    flex-direction: row;
    padding: 16px;
	height:800px;
	align: center;
	padding:10px 11px;color:#fff !important;
	border: 1px solid #b4000f;
}
#content{
	height:400px;
}


.tbl_wrap2{
	weight:500px;
	align: center;
	padding:10px 11px;color:#fff !important;
	border: 1px solid #b4000f;
}
.tbl_head{
	height:200px;
	border: 1px solid #b4000f;
	border-radius: 5px;
}

 		input[type=file] {
            display: none;
        }


        #fileDiv {

            border: 2px solid #A8A8A8;
            margin-top: 30px;
            margin-bottom: 30px;
            padding-top: 10px;
            padding-bottom: 10px;

        }
        #fileDiv img {
            max-width: 150px;
            margin-left: 10px;
            margin-right: 10px;
        }
        .imgs_wrap img {
            max-width: 150px;
            margin-left: 10px;
            margin-right: 10px;
        }



